---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/BlogLayout.astro";

export const getUniqueTags = (posts) => {
  let tags: string[] = [];
  posts.forEach(post => {
    tags = [...tags, ...post.data.tags]
      .map(tag => (tag))
      .filter(
        (value: string, index: number, self: string[]) =>
          self.indexOf(value) === index
      );
  });
  return tags;
};

export const getPostsByTag = (posts, tag: string) =>
  posts.filter(post => (post.data.tags).includes(tag));

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const tags = getUniqueTags(posts);
  return tags.map(tag => {
    return {
      params: { tag },
      props: { tag },
    };
  });
}
const { tag } = Astro.props;
const posts = await getCollection("blog");
const tagPosts = getPostsByTag(posts, tag);
---

<Layout title="tags" description="search post by tag">
    <fieldset>
        <legend>Posts tagged with [{tag}]</legend>
        <div class="form-group">
            <ul>
                {
                  tagPosts.map(({ slug,data }) => (
                    <li><a href={`/blog/${slug}`}>{data.title}</a></li>
                  ))
                }
              </ul>
        </div>
      </fieldset>
</Layout>