---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
// Get all entries from a collection. Requires the name of the collection as an argument.
const allPosts = await getCollection('blog');
---

<Layout title="Welcome to My Blog.">
	<div>
		<h2>Latest Blog Posts.</h2>
		<ol class="terminal-toc">
			{allPosts.map(blogPostEntry => (
				<li>
				<a href={`/blog/${blogPostEntry.slug}`}>{blogPostEntry.data.pubDate.toDateString()} - {blogPostEntry.data.title}</a>
				</li>
			)).sort((a, b) => new Date(b.pubDate).valueOf()  - new Date(a.pubDate).valueOf())}
		</ol>
	</div>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	p{
		color:black;
	}
	a.active{
		color: white;
	}
</style>
