---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const allPosts = (await Astro.glob('../pages/blog/*.md')).sort(
				(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
			);
---

<Layout title="Welcome to My Blog.">
	<div>
		<h2>Latest Blog Posts.</h2>
		<ol class="terminal-toc">
			{allPosts.map((post) => <li><a href={post.url}>{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
				year: 'numeric',
				month: 'short',
				day: 'numeric',
			})} - {post.frontmatter.title}</a></li>)}
		</ol>
	</div>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	p{
		color:black;
	}
	a.active{
		color: white;
	}
</style>
