<div class="navbar">
    <div class="navbar-title">
        <h1><a href="/">Dabiddo's Blog</a></h1>
    </div>
    <nav class="navbar-nav">
        <ul>
            <li><a href="/tags" class="menu-item">Tags</a></li>
            <li><a href="/about" class="menu-item">About</a></li>
        </ul>
    </nav>
</div>
