<div class="terminal-nav">
    <div class="terminal-logo">
        <div class="terminal-prompt">
            <span><a href="/">Dabiddo's Blog</a></span>
        </div>
    </div>
    <nav class="terminal-menu">
        <ul>
            <li><a href="/tags" class="menu-item">Tags</a></li>
            <li><a href="/about" class="menu-item">About</a></li>
        </ul>
    </nav>
</div>
