---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout title="Welcome to My Blog.">
    <div>
        <section>
            <div class="grid-container">
                <div class="item">
                    <h1>{frontmatter.title}</h1>
                </div>
            </div>
        </section>
        <section>
            <figure>
                <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
                <figcaption>{frontmatter.image.alt}</figcaption>
              </figure>
              <slot />
        </section>
        <hr>
    </div>
</Layout>
<style>
    .grid-container {
  display: flex; /* or inline-flex */
}
    .item {
  flex-grow: 4; /* default 0 */
}
</style>